<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Test</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<fieldset>
			<form action="/" method="post" accept-charset="utf-8">
				<input type="type" name="city" class="ghost-input" placeholder="enter city name" required>
				<input type="submit" class="ghost-button" value="Get Weather">
			</form>
			<% if (weather !== null) { %>
				<p><%= weather %></p>
			<% } %>

			<% if (error !== null) { %>
				<p><%= error %></p>
			<% } %>
		</fieldset>
	</div>
</body>
</html>